<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Detail</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <section>
  </header>
      <h1>Detail</h1>
        <img src=<%= bookInfo.image_url %>>
        <h3><%= bookInfo.title %></h3>
        <p><%= bookInfo.author %></p>
        <a><%= bookInfo.url %></a>
        <p><%= bookInfo.description %></p> 
        <p>ISBN: <%= bookInfo.isbn%></p>
        <p>Bookshelf: <%= bookInfo.bookshelf %></p>        
      </section>
      
      <section>
        <!-- form action ${bookInfo.id} in here -->
      </section>
        
</body>
</html>