<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/add">Add a New Book - broken</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
  <section>
    
        <img src=<%= bookInfo.image_url %>>
        <h3><%= bookInfo.title %></h3>
        <p><%= bookInfo.author %></p>
        <a><%= bookInfo.url %></a>
        <p><%= bookInfo.description %></p> 

  </section>
</body>
</html>