<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Search</title>
</head>
<body>

  <h1>Show Search Page</h1>

  <a href="/">HOME</a>
  
  <br />

  <% bookArray.forEach(book => { %>
    <div>
        <img src=<%= book.image_url %> >
        <h3><%= book.title %></h3>
        <p><%= book.author %></p>
        <p><%= book.url %></p>
        <p><%= book.description %></p>
        <p><%= book.isbn %></p>
        <form action="/add" method="post">
          <fieldset>
            <legend>Add A Book to Saved Books</legend>

            <input type="hidden" name="title" value="<%= book.title %>"></input>

            <input type="hidden" name="author" value="<%= book.author %>"></input>

            <input type="hidden" name="image_url" value="<%= book.image_url %>"></input>

            <input type="hidden" name="url" value="<%= book.url %>"></input>

            <input type="hidden" name="description" value="<%= book.description %>"></input>

            <input type="hidden" name="isbn" value="<%= book.isbn %>"></input>

            <input type="hidden" name="bookshelf" value="<%= book.bookshelf %>"></input>

            <button type="submit">Add Book</button>
          </fieldset>
        </form>
    </div>
 <% }) %>

    <!-- Add Detail button  -->
    <!-- Add to Bookshelf -->

</body>
</html>