<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Collection</title>
  <!-- <link rel="stylesheet" href="../../public/styles/reset.css" /> -->
  <link rel="stylesheet" href="../../public/styles/base.css" />
  <link rel="stylesheet" href="../../public/styles/layout.css" />
  <link rel="stylesheet" href="../../public/styles/modules.css" />
</head>
<body>
  <main>
    <header>
      <h2>The Database Render</h2>
      <a href="new-book">new-book</a>
      <a href="./books/detail">DETAIL</a>
    </header>

    <% arrayOfBooks.forEach(book => { %>
        <h3>Book Counter: <%= numBooks %></h3>
      <div>
          <img src=<%= book.image_url %>>
          <h3><%= book.title %></h3>
          <p><%= book.author %></p>
          <a><%= book.url %></a>
          <p><%= book.description %></p> 
      </div>
      <% }) %>

  </main>
</body>
</html>
