<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index</title>
  <!-- <link rel="stylesheet" href="../../public/styles/reset.css" /> -->
  <link rel="stylesheet" href="../../public/styles/base.css" />
  <link rel="stylesheet" href="../../public/styles/layout.css" />
  <link rel="stylesheet" href="../../public/styles/modules.css" />
</head>
<body>
  <main>
    <header>
      <h1>Home</h1>
      <h2>The Database Render</h2>
      <a href="new-book">ADD NEW BOOK</a>
    </header>

    <% arrayOfBooks.forEach(book => { %>
        <h3>Book Counter: <%= numBooks %></h3>
      <div>
          <img src=<%= book.image_url %>>
          <h3><%= book.title %></h3>
          <p><%= book.author %></p>
          <a href="/books/<%= book.id %>">Detail View</a>
      </div>
      <% }) %>

  </main>
</body>
</html>
