<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Collection</title>
  <!-- <link rel="stylesheet" href="../../public/styles/reset.css" /> -->
  <link rel="stylesheet" href="../../public/styles/base.css" />
  <link rel="stylesheet" href="../../public/styles/layout.css" />
  <link rel="stylesheet" href="../../public/styles/modules.css" />
</head>
<body>
  <main>
    <header>
      <h2>The Database Render</h2>
    </header>
   
    <ul>
      <% arrayOfBooks.forEach(book => { %>
        <li><%= book.author %></li>
        <li><%= book.title %></li>
        <li><%= book.isbn %></li>
        <li><img src=<%= book.img_url %> /></li>
        <li><%= book.description %></li>
        <li><%= book.bookshelf %></li>
        <!-- <a href="/books/<%= book.id %>">Detail View</a> -->
      <% }) %>
    </ul>
    
  </main>
</body>
</html>
